<header>
    <nav>
        <a href="/">mybrary</a>
        <ul>
            <li>
              <a href="/author">Authors</a>
            </li>
            <li>
              <a href="/author/new"> Add new Author</a>
            </li>
        </ul>
    </nav>
</header>