<h2>New Projects</h2>
<form action="/projects" method="POST">
    <%- include('_form_fields') %> 
  <a href="/projects" class="btn btn-outline-info mt-3">Cancel</a>
  <button type="submit" class="btn btn-outline-success mt-3">Create</button>
</form>
